[submodule ".nvim"]
	path = .nvim
	url = git@github.com:Gwenillia/nvim.git
[submodule ".kitty"]
	path = .kitty
	url = git@github.com:Gwenillia/.kitty.git
[submodule ".fish"]
	path = .fish
	url = git@github.com:Gwenillia/.fish.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/Gwenillia/.tmux.git
